.dark-mode {
  background-color: darkslategray;
  color: white;
}

.dark-mode a:link{
  color:yellow;
}

.dark-mode a:visited{
  color:orange;
}

body {
  padding:10px;
}

@media only screen and (min-width: 768px){
  /* For desktop */
  body {
    width:768px;
    margin-left:auto;
    margin-right:auto;
  }
}

footer {
  text-align:center;
}

h1,h2,h3,h4,h5,h6 {
  margin:0px;
}
